<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <h3>Please select a file</h3>
      <form method="post" action="/" enctype="multipart/form-data">
        <input name="file" type="file">
        <button type="submit">Upload</button>
      </form>
    </div>

    <div class="output">
      <p>Welcome to the <b>RECEPTACLE</b></p>
    </div>

    <script>
      function deleteRequest(filename) {
        console.log("foo");
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              //document.getElementById("file_table").innerHTML =
              //this.responseText;
              document.open();
              document.write(this.responseText);
              document.close();
          }
        };

        xhttp.open("POST", "/delete/"+filename, true);
        xhttp.send();
      }

    </script>

    <div class="file_table" id="file_table">
      <table>
        {% for thing in folder_contents %}
          <tr>
            <td>{{thing}}</td>

            <form method="post" action="/download/{{thing}}" enctype="text/plain">
              <td><input type="hidden" name="download_target" value={{thing}}></td>
              <td><button type="submit" id="download_button" </button>Download</td>
            </form>

            <!--<form method="post" action="/delete/{{thing}}" enctype="text/plain">
              <td><input type="hidden" name="delete_target" value={{thing}}></td>
              <td><button type="submit" id="delete_button" </button>Delete</td>
            </form>-->

            <td><button type="button" id="delete_button" onclick="deleteRequest('{{thing}}')">Delete</button></td>

          </tr>
        {% endfor %}
      </table>
    </div>

  </body>
</html>
